<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scau.mapper.SalaryResultMapper">
    <resultMap id="deptStatisticMap" type="com.scau.entity.DeptStatistic">
        <id property="deptId" column="id"/>
        <result property="deptName" column="deptName"/>
        <result property="sumBasicSalary" column="sumSalary"/>
        <result property="avgBasicSalary" column="avgSalary"/>
        <result property="minBasicSalary" column="minSalary"/>
        <result property="maxBasicSalary" column="maxSalary"/>
    </resultMap>
    <resultMap id="companyStatisticMap" type="com.scau.entity.CompanyStatistic">
        <result property="sumActualSalary" column="sumActualSalary"/>
        <result property="avgActualSalary" column="avgActualSalary"/>
        <result property="minActualSalary" column="minActualSalary"/>
        <result property="maxActualSalary" column="maxActualSalary"/>
    </resultMap>
	<select id="querySalaryForm" resultType="com.scau.entity.SalaryResult">
		SELECT a.*
		FROM salary_result a join employee b on a.employee_id = b.id
	  	<where>
			<if test="deptName != null">
				and departmentName = #{deptName}
			</if>
			<if test="startMonth != null and endMonth != null">
				and a.date between #{startMonth} and #{endMonth}
			</if>
			<if test="employeeId != null">
				and a.employee_id = #{employeeId}
			</if>
		</where>
	</select>

	<select id="queryDeptStatistic" resultMap="deptStatisticMap">
	SELECT
	  a.departmentId as id,
	  a.departmentName as deptName,
	  SUM( b.VALUE ) AS sumSalary,
	  AVG( b.VALUE ) AS avgSalary,
	  MIN( b.VALUE ) AS minSalary,
	  MAX( b.VALUE ) AS maxSalary
    FROM
	  employee a
	  JOIN fixed_item b ON a.id = b.employee_id
	<where>
        b.item_id = 1
        <if test="deptName != null">
            and a.departmentName = #{deptName}
        </if>
        <if test="startMonth != null and endMonth != null">
            and b.date between  #{startMonth} and #{endMonth}
        </if>
    </where>
    GROUP BY
	a.departmentId,
	a.departmentName
   ORDER BY a.departmentId;

	</select>

    <select id="queryCompanyStatistic" resultType="com.scau.entity.CompanyStatistic">
      SELECT
        SUM(value) as sumActualSalary,
	    AVG(value) as avgActualSalary,
	    MIN(value) as minActualSalary,
	    MAX(value) as maxActualSalary
      FROM
	    actual_salary_item
	  <where>
          item_id = 13
          and
          state=2
          <if test="startMonth != null and endMonth != null">
              and date between #{startMonth} and #{endMonth}
          </if>
      </where>

    </select>

</mapper>
    